

body {
	margin-left: 40px;
	margin-right: 40px;
}
div#title {
	background: rgb(255, 0, 98);
	color: rgb(255, 255, 255);
	text-align: center;
	text-valign: middle;
	height: 25px;
	font-size: 15pt;
	padding: 20px;
}
div#Airstate {
	background-color: #f3d1ec;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #d9d9d9;
}
div.stateItem {
	font-family: Verdana, Helvetica, sans-serif;
	color: #ff2222;
	padding: 10px;
}
div.stateItem:nth-child(2n) {
	background-color: #fafabe;
}
div.stateItem:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div.stateItem:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

